<div class="container">
<span>
  <img src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o=" alt="">
</span>
<div class="content">
<span class="name">
  John Doe
</span>
<br>
<span class="bio">
 bio goes here!
</span>
<span class="location">
  <img class="loc-img" src="https://cdn-icons-png.flaticon.com/512/0/619.png" alt=""> 
  <p class="loc">India</p>
</span>
<span class="twitter">
  <a class="twitter" href="https://Twitter.com">Twitter: https://twitter.com</a>
</span>

</div>
<span>
  <a class="github" href="https://github.com">Github: https://github.com</a>
</span>
<div class="boxes border-slate-500 grid grid-rows-3 grid-cols-3 grid-flow-col bg-grey-300 gap-6 p-4">
  <div class="box-border h-60 w-90 p-4 border-2"><h2 class="text-3xl text-sky-600">Hereos</h2>
    <p>Hereos description goes here</p>
    <button class="button bg-sky-500 hover:bg-sky-700">Javascript</button>
    <button class="button bg-sky-500 hover:bg-sky-700">angular</button>
    <button class="button bg-sky-500 hover:bg-sky-700">angularjs</button>
    <button class="button bg-sky-500 hover:bg-sky-700 gap-y-3">Angular 2+</button>
  </div>
  <div class="box-border h-60 w-90 p-4 border-2 bg-grey-300"><h2 class="text-3xl text-sky-600">Hereos</h2>
    <p>Hereos description goes here</p>
    <button class="button bg-sky-500 hover:bg-sky-700">Javascript</button>
    <button class="button bg-sky-500 hover:bg-sky-700">angularjs</button>
    <button class="button bg-sky-500 hover:bg-sky-700 gap-y-3">Angular 2+</button>
  </div>
  <div class="box-border h-60 w-90 p-4 border-2"><h2 class="text-3xl text-sky-600">Hereos</h2>
    <p>Hereos description goes here</p>
    <button class="button bg-sky-500 hover:bg-sky-700">Javascript</button>
    <button class="button bg-sky-500 hover:bg-sky-700">angular</button>
    <button class="button bg-sky-500 hover:bg-sky-700">angularjs</button>
    <button class="button bg-sky-500 hover:bg-sky-700 gap-y-3">Angular 2+</button>
  </div>
  <div class=" box-border h-60 w-100 p-4 border-2"><h2 class="text-3xl text-sky-600">Hereos</h2>
    <p>Hereos description goes here</p>
    <button class="button bg-sky-500 hover:bg-sky-700">Javascript</button>
    <button class="button bg-sky-500 hover:bg-sky-700">angular</button>
    <button class="button bg-sky-500 hover:bg-sky-700">angularjs</button>
    <button class="button bg-sky-500 hover:bg-sky-700 gap-y-3">Angular 2+</button>
  </div>
  <div class="box-border h-60 w-90 p-4 border-2"><h2 class="text-3xl text-sky-600">Hereos</h2>
    <p>Hereos description goes here</p>
    <button class="button bg-sky-500 hover:bg-sky-700">Javascript</button>
    <button class="button bg-sky-500 hover:bg-sky-700">angular</button>
    <button class="button bg-sky-500 hover:bg-sky-700">angularjs</button>
    <button class="button bg-sky-500 hover:bg-sky-700 gap-y-3">Angular 2+</button>
  </div>
  <div class="box-border h-60 w-100 p-4 border-2"> <h2 class="text-3xl text-sky-600"> hereos</h2>
    <p>Heroes description goes here</p>
    <button class="button bg-sky-500 hover:bg-sky-700">Javascript</button>
    <button class="button bg-sky-500 hover:bg-sky-700">angular</button>
    <button class="button bg-sky-500 hover:bg-sky-700">angularjs</button>
  </div>
  
</div>
<div>
<footer class="flex flex-row text-xl text-sky-500 gap-2">
  <button class="shrink w-5 h-5"><<</button>
<button class="btn bg-sky-500 h-5 w-5 text-gray-50 shrink  flex flex-row gap-2">1</button>
<button class="btn  shrink w-5 h-5 flex flex-row gap-2">2</button>
<button class="btn  shrink w-5 h-5 flex flex-row gap-2">3</button>
<button class="btn shrink w-5 h-5 flex flex-row gap-2">4</button>
<button class="btn shrink w-5 h-5 flex flex-row gap-2">5</button>
<button class="btn shrink w-5 h-5 flex flex-row gap-2">6</button>
<button class="btn shrink w-5 h-5 flex flex-row gap-2">7</button>
<button class="btn shrink w-5 h-5 flex flex-row gap-2">8</button>
<button class="btn shrink w-5 h-5 flex flex-row gap-2">9</button>
<button class="btn shrink w-5 h-5 flex flex-row gap-2">10</button>
<button class="btn shrink w-5 h-5 flex flex-row gap-2">>></button>
 
<div>
  <br>
  <br>
<button class="oldBtn text-gray-500 box-border h-20 w-36 p-2 border-2"><- Older</button>
<button class="newBtn box-border h-20 w-36 p-2 border-2"><- Newer</button>
</div>
</footer>
</div>
</div>
